<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.PilotProject"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="preferExternal"
        >

    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:label="@string/app_name">
        <activity android:name="com.qsoft.pilotproject.ui.StartActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.qsoft.pilotproject.ui.SlideBarActivity"/>
        <activity android:name="com.qsoft.pilotproject.ui.LoginActivity"/>
        <activity android:name="com.qsoft.pilotproject.ui.ProfileSetupActivity"/>
        <activity android:name="com.qsoft.pilotproject.ui.NewCommentActivity"/>
        <activity android:name="com.qsoft.pilotproject.ui.LaunchActivity"/>
        <service android:name="com.qsoft.pilotproject.authenticator.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator"/>
        </service>
        <service android:name="com.qsoft.pilotproject.sync.SyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/sync_adapter"/>
        </service>
        <provider
                android:name="com.qsoft.pilotproject.provider.OnlineDioProvider"
                android:authorities="com.qsoft.onlinedio"
                android:exported="false"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
</manifest> 
